@font-face {
  font-family: Comfortaa;
  src: url("./Comfortaa/Comfortaa-VariableFont_wght.ttf");
}
header {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: auto;
  margin-top: 20px;
}


body{
  font-family: Comfortaa;
  background-color: #F0F5F8;
}

.logo {
  width: 200px ;
  height: 200px;
}

.LogoTitle {
  font-size: 28px;
  text-align: center;
  margin-top: 130px;
  color: #6294B0;
}

.contacts{
  font-size: 18px;
}

.location{
  font-size: 18px;
}

.menushka{
  width: 30%;
  margin: 73px auto;
}

.menu{
  display: flex;
  justify-content: center;
  border: 1px solid #6294B0;
  border-radius: 80px;
  background-color: #6294B0;
  margin-bottom:  24px;
  font-size: 37px;
  color: white;
}
.menu > p {
  margin: 5px 0;
}

.MENU{
  font-size: 40px;
  display: flex;
  justify-content: center;
}
.MENU > p {
  margin: 5px 0;
}

.razdelMenu{
  margin: auto;
  width: 100%;
  justify-content: space-between;
  display: flex;
  }
 
.menuPosition{
  border-radius: 10px;
  border: 8px solid #6294B0;
  background-color: #6294B0;
  padding: 0 5px;
  text-align: right;
  width: 30%;
  height: auto;
}

.nameRazdelMenu{
  font-size: 30px;
  border: 3px solid #6294B0;
  border-radius: 20px;
  margin-top: 15px;
  margin-bottom: 8px;
  display: inline-block;
}
.nameRazdelMenu > p {
  margin: 1px 4px;
}

.foodPic{
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.nameOfMenuPosition{
  font-size: 22px;
  color: #F0F5F8;
  margin-top: 4px;
  margin-bottom: 4px;
  display: flex;
  justify-content: space-between;
}

.showFull{
  font-size: 14px;
  color: #F0F5F8;
  border: 3px solid #F0F5F8;
  border-radius: 20px;
  padding: 2px;
  display: inline-block;
}
.showFull > p {
  margin: 1px 6px;
}

.showMore{
  font-size: 16px;
  border: 3px solid  #6294B0;
  border-radius: 20px;
  padding: 2px;
  display: inline-block;
  margin-top: 5px ;
}
.showMore > p {
  margin: 1px 6px;
}
.menuBlock{
  text-align: left;
  width: 100%;
  padding: 0 5%;
  box-sizing: border-box;
}

.MORE{
  text-align: right;
}


.NEWS{
  font-size: 40px;
  display: flex;
  justify-content: center;
  margin-top: 90px;
  margin-bottom: 54px ;
}
.NEWS > p {
  margin: 5px 0;
}

.news{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  margin: auto;
  }

.photoNews{
  width: 50%;
}

.textNews{
  font-size: 18px;
  width: 50%;
  text-align: center;
}
.textNews > p {
  margin: 0 10px ;
}

.ZAVEDENIA{
  font-size: 40px;
  display: flex;
  justify-content: center;
  margin-top: 90px;
  margin-bottom: 30px ;
}
.ZAVEDENIA > p {
  margin: 5px 0;
}

.zavedenia{
text-align: center;
width: 70%;
margin: auto;
border: 6px solid  #6294B0;
border-radius: 20px;
padding: 10px;
}

.zavedeniaText{
font-size: 18px;
margin-bottom: 10px;
}

.nameZavedenia{
font-size: 30px;
}

.dostavkaBlock{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  margin: auto;
  padding-bottom: 20px;
  }

.photoDostavka{
  width: 50%;
}

.textDostavka{
  font-size: 18px;
  width: 50%;
  text-align: center;
}
.textDostavka > p {
  margin: 0 10px ;
}

.contacti{
  justify-content: space-between;
  display: flex;
  margin: auto;
  width: 80%;
  font-size: 18px;
}

.call{
  display: flex;
}

.callLogo{
  width: 40px;
  height: 40px;
}

.callText{
  font-size:20px;
  margin-left: 5px;
}

.inst{
  display: flex;
}

.instLogo{
  width: 40px;
  height: 40px;
}

.instText{
  font-size:20px;
  margin-left:  5px;
}

.contactiMOBILE{
  display: none;
}
.headerMOBILE{
  display: none;
}

@media only screen and (max-width: 1300px){
  .contacts{
    font-size: 14px;
  }
  .location{
    font-size: 14px;
  }
  .logo {
    width: 180px ;
    height: 180px;
  }
  .LogoTitle {
    font-size: 20px;
  }
  .nameRazdelMenu{
    font-size: 25px;
  }
  .menuPosition{
    border: 5px solid #6294B0;
  }
  .nameOfMenuPosition{
    font-size: 18px;
  }
  .showFull{
    font-size: 12px;
  }
  .showMore{
    font-size: 14px;
  }
  .textNews{
    font-size: 16px;
  }
  .textDostavka{
    font-size: 16px;
  }
  .contacti{
    font-size: 14px;
    width: 85%;
  }
  .callText{
    font-size:16px;
  }
  .instText{
    font-size:16px;
  }

}

@media only screen and (max-width: 992px){
  .contacts{
    font-size: 11px;
  }
  .location{
    font-size: 11px;
  }
  .logo {
    width: 150px ;
    height: 150px;
  }
  .LogoTitle {
    font-size: 15px;
    margin-top: 130px;
  }
  .nameRazdelMenu{
    font-size: 20px;
  }
  .menuPosition{
    border: 3px solid #6294B0;
    padding: 0 3px;
  }
  .nameOfMenuPosition{
    font-size: 14px;
  }
  .showFull{
    font-size: 10px;
    border: 2px solid #F0F5F8;
  }
  .showMore{
    font-size: 12px;
    border: 2px solid #6294B0;
  }
  .textNews{
    font-size: 12px;
  }
  .textDostavka{
    font-size: 12px;
  }
  .contacti{
    font-size: 11px;
    width: 85%;
  }
  .callText{
    font-size:13px;
  }
  .instText{
    font-size:13px;
  }

  .menushka{
    margin: 50px auto;
  }
  .menu{
    border-radius: 80px;
    margin-bottom:  20px;
    font-size: 25px;
    box-sizing: border-box;
  }
  .menu > p {
    margin: 3px 0;
  }
  .ZAVEDENIA{
    font-size: 35px;
    margin-top: 70px;
    margin-bottom: 25px ;
  }
  .NEWS{
    font-size: 35px;
    margin-top: 70px;
    margin-bottom: 45px ;
  }
  .MENU{
    font-size: 35px;
  }
  .zavedenia{
    border: 5px solid  #6294B0;
    }
    .zavedeniaText{
    font-size: 16px;
    }
    .nameZavedenia{
    font-size: 25px;
    }
    .instLogo{
      width: 35px;
      height: 35px;
    }
    .callLogo{
      width: 35px;
      height: 35px;
    }
    
}

@media only screen and (max-width: 768px){
  header {
    width: 90%;
    margin-top: 20px;
  }
  .contacts{
    font-size: 10px;
  }
  .location{
    font-size: 10px;
  }
  .logo {
    width: 120px ;
    height: 120px;
  }
  .LogoTitle {
    font-size: 13px;
    margin-top: 100px;
  }

  .menushka{
    margin: 50px auto;
  }
  .menu{
    border-radius: 80px;
    margin-bottom:  16px;
    font-size: 22px;
    box-sizing: border-box;
  }
  .menu > p {
    margin: 3px 0;
  }

  .MENU{
    font-size: 35px;
  }
  .nameRazdelMenu{
    font-size: 20px;
  }
  .menuPosition{
    border: 3px solid #6294B0;
    padding: 0 3px;
    width: 45%;
  }
  .nameOfMenuPosition{
    font-size: 16px;
  }
  .showFull{
    font-size: 12px;
    border: 2px solid #F0F5F8;
  }
  .showMore{
    font-size: 14px;
    border: 2px solid #6294B0;
  }

  #BabyVika{
    display: none;
  }
  #BananaSplit{
    display: none;
  }
  #PastramiSandwich{
    display: none;
  }
  #BurgerBecon{
    display: none;
  }

.NEWS{
  font-size: 35px;
  margin: 40px 0;
}
.news{
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: auto;
}
.photoNews{
  width: 100%;
}
.textNews{
  font-size: 16px;
  width: 100%;
  text-align: center;
  margin-top: 20px;
}

.ZAVEDENIA{
  font-size: 35px;
  margin: 40px 0;
}
.zavedenia{
  border: 5px solid  #6294B0;
  width: 80%;
  }
.zavedeniaText{
  font-size: 16px;
}
.nameZavedenia{
  font-size: 22px;
}
    
.dostavkaBlock{
  margin: auto;
  display: flex;
  flex-direction: column;
  width: 80%;
}
.photoDostavka{
  width: 100%;
}
.textDostavka{
  font-size: 16px;
  width: 100%;
  text-align: center;
  margin-top: 20px;
}
#Dostavka2{
  flex-direction: column-reverse;
}
.contacti{
  display: none;
}
.contactiMOBILE{
  display: flex;
  flex-direction: column;
  width: 90%;
  font-size: 12px;
  margin: auto;
}
.first{
  display: flex;
  justify-content: space-between;
  justify-items: center;
  align-items: flex-end;
}
.second{
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-top: 10px;
}
.third{
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-top: 10px;
}
.call{
  display: flex;
}
.callLogo{
  width: 30px;
  height: 30px;
}
.callText{
  font-size:13px;
  margin-left: 5px;
}
.inst{
  display: flex;
}
.instLogo{
  width: 30px;
  height: 30px;
}
.instText{
  font-size:13px;
  margin-left:  5px;
}
}

@media only screen and (max-width: 576px){
  header{
    display: none;
  }
  .headerMOBILE {
    display: flex;
    flex-direction: column-reverse;
    width: 90%;
    margin: auto;
  }
  .logotip{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .info{
    width: 100%;
    font-size: 9px;
    flex-direction: column-reverse;
    line-height: 14px;
  }
  .contacts{
    display: flex;
    justify-content: space-between;
  }
  .location{
    display: flex;
    justify-content: space-between;
  }
  .logo {
    width: 100px ;
    height: 100px;
  }
  .LogoTitle {
    font-size: 16px;
    margin: 0;
  }

  
  .menushka{
    margin: 30px auto;
    width: 40%;
  }
  .menu{
    border-radius: 80px;
    margin-bottom:  16px;
    font-size: 18px;
    box-sizing: border-box;
  }
  .menu > p {
    margin: 2px 0;
  }



  .menuBlock{
  text-align: left;
  width: 90%;
  padding: 0;
  margin: auto;
  }

  .MENU{
    font-size: 25px;
  }
  .nameRazdelMenu{
    font-size: 20px;
  }
  .razdelMenu{
    width: 100%;
    }
  .menuPosition{
    border: 5px solid #6294B0;
    padding: 0 ;
    width: 100%;
  }
  .nameOfMenuPosition{
    font-size: 16px;
  }
  .showFull{
    font-size: 12px;
    border: 2px solid #F0F5F8;
  }
  .showMore{
    font-size: 14px;
    border: 2px solid #6294B0;
  }

 
  #BigCookie{
    display: none;
  }
  #Whoopiecookie{
    display: none;
  }
  #AvocadoTost{
    display: none;
  }
  #Papperoni{
    display: none;
  }

.NEWS{
  font-size: 25px;
  margin: 40px 0;
}

.textNews{
  font-size: 16px;
  width: 100%;
  text-align: center;
  margin-top: 20px;
}

.ZAVEDENIA{
  font-size: 25px;
  margin: 40px 0;
}

.zavedeniaText{
  font-size: 16px;
}
.nameZavedenia{
  font-size: 22px;
}
    


.textDostavka{
  font-size: 16px;
  
  margin-top: 20px;
}

.contacti{
  display: none;
}
.contactiMOBILE{
  width: 80%;
  font-size: 11px;
}

.callLogo{
  width: 30px;
  height: 30px;
}
.callText{
  font-size:12px;
}

.instLogo{
  width: 30px;
  height: 30px;
}
.instText{
  font-size:12px;
}
.text{
  display: none;
}

.inst{
  align-items: center;
}
.call{
  align-items: center;
}
}