@font-face {
  font-family: Comfortaa;
  src: url("./Comfortaa/Comfortaa-VariableFont_wght.ttf");
}
header {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: auto;
  margin-top: 20px;
}


body{
  font-family: Comfortaa;
  background-color: #F0F5F8;
}

.logo {
  width: 200px ;
  height: 200px;
}

.LogoTitle {
  font-size: 28px;
  text-align: center;
  margin-top: 130px;
  color: #6294B0;
}

.contacts{
  font-size: 18px;
}

.location{
  font-size: 18px;
}

.menushka{
  width: 30%;
  margin: 73px auto;
}

.menu{
  display: flex;
  justify-content: center;
  border: 1px solid #6294B0;
  border-radius: 80px;
  background-color: #6294B0;
  margin-bottom:  24px;
  font-size: 37px;
  color: white;
}
.menu > p {
  margin: 5px 0;
}

.MENU{
  font-size: 40px;
  display: flex;
  justify-content: center;
}
.MENU > p {
  margin: 5px 0;
}

.razdelMenu{
  margin: auto;
  width: 100%;
  justify-content: space-between;
  display: flex;
  }
 
.menuPosition{
  border-radius: 10px;
  border: 8px solid #6294B0;
  background-color: #6294B0;
  padding: 0 5px;
  text-align: right;
  width: 30%;
  height: auto;
}

.nameRazdelMenu{
  font-size: 30px;
  border: 3px solid #6294B0;
  border-radius: 20px;
  margin-top: 15px;
  margin-bottom: 8px;
  display: inline-block;
}
.nameRazdelMenu > p {
  margin: 1px 4px;
}

.foodPic{
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.nameOfMenuPosition{
  font-size: 22px;
  color: #F0F5F8;
  margin-top: 4px;
  margin-bottom: 4px;
  display: flex;
  justify-content: space-between;
}

.showFull{
  font-size: 14px;
  color: #F0F5F8;
  border: 3px solid #F0F5F8;
  border-radius: 20px;
  padding: 2px;
  display: inline-block;
}
.showFull > p {
  margin: 1px 6px;
}

.showMore{
  font-size: 16px;
  border: 3px solid  #6294B0;
  border-radius: 20px;
  padding: 2px;
  display: inline-block;
  margin-top: 5px ;
}
.showMore > p {
  margin: 1px 6px;
}
.menuBlock{
  text-align: left;
  width: 100%;
  padding: 0 5%;
  box-sizing: border-box;
}

.MORE{
  text-align: right;
}


.NEWS{
  font-size: 40px;
  display: flex;
  justify-content: center;
  margin-top: 90px;
  margin-bottom: 54px ;
}
.NEWS > p {
  margin: 5px 0;
}

.news{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  margin: auto;
  }

.photoNews{
  width: 50%;
}

.textNews{
  font-size: 18px;
  width: 50%;
  text-align: center;
}
.textNews > p {
  margin: 0 10px ;
}

.ZAVEDENIA{
  font-size: 40px;
  display: flex;
  justify-content: center;
  margin-top: 90px;
  margin-bottom: 30px ;
}
.ZAVEDENIA > p {
  margin: 5px 0;
}

.zavedenia{
text-align: center;
width: 70%;
margin: auto;
border: 6px solid  #6294B0;
border-radius: 20px;
padding: 10px;
}

.zavedeniaText{
font-size: 18px;
margin-bottom: 10px;
}

.nameZavedenia{
font-size: 30px;
}

.dostavkaBlock{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  margin: auto;
  padding-bottom: 20px;
  }

.photoDostavka{
  width: 50%;
}

.textDostavka{
  font-size: 18px;
  width: 50%;
  text-align: center;
}
.textDostavka > p {
  margin: 0 10px ;
}

.contacti{
  justify-content: space-between;
  display: flex;
  margin: auto;
  width: 80%;
  font-size: 18px;
}

.call{
  display: flex;
}

.callLogo{
  width: 40px;
  height: 40px;
}

.callText{
  font-size:20px;
  margin-left: 5px;
}

.inst{
  display: flex;
}

.instLogo{
  width: 40px;
  height: 40px;
}

.instText{
  font-size:20px;
  margin-left:  5px;
}

.contactiMOBILE{
  display: none;
}
.headerMOBILE{
  display: none;
}





